<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Переписка</title>
    <style>
        blockquote { background-color: #f2f2f2; }
        em { font-style: italic; }
        .message { padding: 10px; border-bottom: 1px solid #ccc; line-height: 0,5; } /* уменьшенный межстрочный интервал */
        .sender { background-color: #DCF8C6; }
        .recipient { background-color: #FFFFFF; }
    </style>
</head>
<body>
    <h1>Переписка {{ firstname_client }} с {{ first_name }}</h1>
    {% for message in messages %}
        <div class="message {{ 'sender' if message.sender_id == userid_client else 'recipient' }}">
            <p><strong>{{ message.sender_info }}</strong></p>
            <p><strong>Дата и время:</strong> {{ message.time }}</p>
            {% if message.reply_text %}
                <blockquote><em>{{ message.reply_text }}</em></blockquote>
            {% endif %}
            <p><strong>Сообщение:</strong> {{ message.text }}</p>
            {% if message.reactions %}
                <p>{{ message.reactions }}</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>
